@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    /* CSS HEX */
--dark-garnet: #660000ff;
--dark-amaranth: #990033ff;
--secondary-color: #5f021fff;
--primary-color: #8c001aff;
--deep-saffron: #ff9000ff;
--neutral-color:hsl(43, 100%, 92%) 100%, 92%;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    background: var(--neutral-color);
}

.topbar{
  background:var(--secondary-color);
  color:white;
  font-size:13px;
}

.topbar-content{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:8px 16px;
}

.top-right a{
  margin-left:15px;
  color:white;
  text-decoration:none;
}

.top-right span{
  margin-left:15px;
}

.navbar{
  background:#fff;
}

.nav-content{
  display:flex;
  align-items:center;
  justify-content:space-around;
  padding:18px 16px;
}

.nav-content .logo {
  font-family: 'Lobster Two', cursive;
  color:var(--primary-color);
  font-size:24px;
}

.search-bar{
  display:flex;
  align-items:center;
  border:1px solid #ddd;
  border-radius:30px;
  overflow:hidden;
}

.search-bar input{
  border:none;
  padding:10px 15px;
  width:400px;
  outline:none;
  transition: border-color 0.3s ease;
  flex: 1;
}

.search-bar button{
  background:var(--primary-color);
  border-radius: 20px;
  border: none;
  padding:10px 16px;
  color:white;
  cursor:pointer;
}



.search-bar:focus-within{
    box-shadow: 0 0 0 1px var(--primary-color);
    border: 1px solid #000000;
  padding: 8px;
}

.nav-actions a{
  margin-left:20px;
  text-decoration:none;
  color:#333;
  font-size:14px;
}

.cart{
  margin-left:20px;
  font-size:18px;
}

.category-nav{
  background:#fff;
  border-bottom:1px solid #eee;
}

.categories{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 16px;
  gap: 20px;
  flex-wrap: wrap;
}

.categories a{
  flex-grow: 1;
  text-decoration:none;
  color:#444;
  font-size:16px;
  font-weight:500;
  transition: 0.3s ease;
  border: 1px solid black;
  border-radius: 50px;
  text-align: center;
}

.categories a:hover{
  background:var(--secondary-color);
  color:white;
  border:none;
}
.categories .offer{
  background:var(--deep-saffron);
  color:white;
  border:none;

}

.hero{
  margin:20px 5%;
  height:800px;
  border-radius: 25px;
}

.hero-content{
  display:flex;
  align-items:center;
  justify-content:space-between;

  background:#b89696;
  border-radius:14px;
  padding: 80px 20px ;
  color: white;
  
}
.hero-text{
  max-width:500px;
  padding-bottom:20px;
}
.hero-text h1{
  font-size:32px;
    color:white;
  margin-bottom:20px;
}

.hero-text button{
    margin-top: 10px;
  background:white;
  border:none;
  padding:12px 20px;
  border-radius:8px;
  font-weight:600;
  cursor:pointer;
}

.hero-image img{
    filter: drop-shadow(0 20px 40px rgba(0,0,0,0.3));
    height:200px;
  width:100%;
  margin-right: 140px;
  
}



@media screen and (max-width: 768px) {
    /* .categories{
  overflow-x:auto;
  white-space:nowrap;
} */

 .nav-actions{
  display: none;
 }
}   